.spinner__label {
  color: #17181a;
  font-feature-settings: "lnum", "lnum";
  font-size: 3.875em;
  font-weight: 400;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-variant-numeric: lining-nums;
  left: 50%;
  line-height: 1;
  margin: -2px 0 0 2px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space:nowrap
}

.spinner__label span {
  color: #babcbf;
  display: inline-block;
  font-size: .35484em;
  font-weight: 400;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  line-height: 1;
  position: relative;
  top: .27273em;
  vertical-align:top
}